@model NewsData.Models.Article

@{
    ViewData["Title"] = "EditArticle";
    
}

<div class="row">
    <div class="col-md-12">
        <h1>Edit Article</h1>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4"><a asp-action="IndexArticle" class="btn btn-primary">Back to Index</a></div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditArticle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Tittle" class="control-label"></label>
                <input asp-for="Tittle" class="form-control" />
                <span asp-validation-for="Tittle" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <img src="~/images/Article/@Model.ImageName" width="200" height="200" />
         
                <input type="file" name="ProfilePictureFile" />
                <span asp-validation-for="ImageName" class="text-danger" />
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="Description" control-label"></label>
                <div>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <hr />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.instances['Description'];
        if (editor) { editor.destroy(true); }
        CKEDITOR.replace('Description', {
            enterMode: CKEDITOR.ENTER_BR,

        });
    </script>
}
